fastapi==0.104.1
uvicorn==0.24.0
selenium==4.15.2
webdriver-manager==4.0.1
python-dotenv==1.0.0
requests==2.31.0
geopy
aiohttp
parsel==1.8.1
python-multipart==0.0.6
tqdm~=4.67.1
playwright~=1.52.0
pydantic~=2.11.5